<h1 class="text-center py-5">All restaurants</h1>
<ul class="list-group">
<% @restaurants.each do |restaurant| %>
<li class="list-group-item list-group-item-action py-3"><%= link_to restaurant.name, restaurant_path(restaurant)%> (<%= restaurant.category %>)</li>
<% end %>
</ul>
